.contain
{
	margin-left : 5%;
	margin-right : 5%;
	margin-top : -1%;
	width : 90%;
	/*height : 70cm;*/
	/* background-color : #DCDCDC; */
    font-size:20px;
	font-family: "Roboto";
	padding-right: "22px";
}
.TitleImage
{
	width : 100%;
	height: 340px;
	border-color: #00ff00;
	margin: 0.2% 0% 1% 0%;
}
.font_style
{
	color: #ffffff;
}
.ContactInfo
{
	font-family: "Lato", sans-serif;
	font-size: 15;
	text-align: center;
	margin-top: -5px;
	background-color: #333333;
	height: 30px;
        margin: auto;
	width: 100%;
	position: relative;
}
.MenuTab
{
	font-family: "Roboto", "Lato", sans-serif;
	background-color: #00fff0;
	text-align: center;
	margin-top: 0%;
	width: 100%;
	height: 20%;
	margin: auto;
	margin-top : -1%;
} 
.sticky 
{
  position: fixed;
  top: 0;
  width: 69.4%;
  margin-top : 0%;
  font-family: "Lato", sans-serif;
  background-color: #00fff0;
  text-align: center;
}
.ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
	width: 100%;
}
.li
{
    float: left;
	font-size: 18px;
	/* font-weight: 600; */
}
.li a 
{
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 34px;
    text-decoration: none;
}
.li a:hover 
{
    background-color: #111111;
}
.end
{
	margin-top : -1%;
	width : 70%;
	background-color : #DCDCDC;
	margin-left : 15%;
	margin-right : 15%;
}
.TitleImage1
{
	width : 100%;
	height: 100%;
	border-color: #00ff00;
	margin-top : 1%;
}
.dot 
{
  height: 25px;
  width: 25px;
  background-color: #DAA520;
  border-radius: 50%;
  display: inline-block;
}
P{
    padding-left: 40px;
    padding-right: 40px;
}
.title_name {
    font-family: new time roman;
    padding: 5px 0px 0px 0px;
    font-size: 36px;
    color: #3288a8;
    text-align: center;
    font-weight: 600;
    border: 0px solid black;
    margin: 2% 5% 0% 5%;
}
.title_des {
    font-family: new time roman;
    padding: 2px 0px 5px 0px;
    font-size: 30px;
    color: #3288a8;
    text-align: center;
    font-weight: 600;
    border: 0px solid black;
    margin-left: 5%;
}
.topic {
	font-family: new time roman;
    padding: 2px 0px 5px 0px;
    font-size: 30px;
}
hr.new5 {
  border: 2px solid white;
  border-radius: 5px;
}
hr.new6 {
  border: 2px solid white;
  border-radius: 5px;
  width: 125%;
}
.odd1
{
	padding:7px 3px 7px 3px;
	font-family:Lucida Fax;
	font-weight:bold;
	color:#ffffff;
	font-size: 15px;
	width : 100%;
	text-align:center;
	background-color : #333333;
}
.odd2
{
	padding:7px 3px 7px 3px;
	font-family:Lucida Fax;
	color:#000000;
	font-size: 15px;
	width : 100%;
	text-align:center;
	background-color : #ffffff;
}
.item
{
	padding:0px 0px 1px 0px;
	color:#000000;
	background-color : #ffffff;
	text-align: center;
	font-family:Lucida Fax;
	font-size: 15px;
	font-weight: bold;
}
.item1
{
	padding:0px 0px 0px 0px;
	color:#ff0000;
	background-color : #ffffff;
	text-align: center;
	font-family:Lucida Fax;
	font-size: 15px;
	font-weight: bold;
}

.institute { color: rgb(129,129,129); }

.menutitle
{ 
	float: left;
	font-family: "Lato", "Quicksand";
	font-size: 26px;
	color: yellow;
	padding: 10px 10px 0 20px;
	font-weight: 100;
}

/* Image slide show */

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  /* margin: 0 0px 15px 0px; */
}

.active {
  background-color: #000000;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.mySlides img 
{
	width: 100%;
}
